/*  GRID    */

.container {
    margin-left: calc(50% - 315px);
    margin-top: calc(50% - 500px);
}

.container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px;
    grid-gap: 15px;
    
}


.opcao {
    align-items: center;
    background-color: rgb(71, 135, 255);
}

.opcao:hover {
    background-color: #FFF;
    margin: 30px;
    padding: 20px;
}