@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.card{
    display: flex;
    flex-direction: column;
    background-color: rgb(23, 26, 41);
    border-radius: 5px;
    padding: 15px;
    margin-right: 10px;
    margin-top: 15px;
    min-width: 380px;
    min-height: 200px;
}

.registro{
    display: flex;
    flex-direction: row;
}

.text-registro{
    color: whitesmoke;
    font-size:20px;
    margin-left: 5px;
    opacity: .8;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    top:14%;
}

.delete {
    color:red;
    font-family: Material Icons;
    font-size: 25px;
    margin-right: 15px;
    background-color:rgb(57, 86, 135);
    border: 1px rgb(57, 86, 135) solid;
    border-radius: 10px;
    opacity: .8;
    cursor: pointer;
}

.delete:hover {
    opacity: 1;
}

.alterar {
    color: yellow;
    font-family: Material Icons;
    font-size: 25px;
    background-color:rgb(57, 86, 135);
    border: 1px rgb(57, 86, 135) solid;
    border-radius: 10px;
    opacity: .8;
    cursor: pointer;
}

.alterar:hover {
    opacity: 1;
}

.detalhes {
    color: cornflowerblue;
    font-family: Material Icons;
    font-size: 25px;
    background-color:rgb(57, 86, 135);
    border: 1px rgb(57, 86, 135) solid;
    border-radius: 10px;
    opacity: .8;
    cursor: pointer;
    margin-right: 15px;
}

.detalhes:hover {
    opacity: 1;
}

.perfil {
    display:flex;
    flex-direction: row;
    background-color: rgb(23, 26, 41);
    width: 50%;
    border-radius: 3px;
    margin-top: 15px;
    padding: 20px;
    margin-left: 25%;
}

.perfil-content {
    display:flex;
    flex-direction:column;
    margin-left:15px;
}

.perfil img{
    border-radius:2px;
    max-width: 400px;
    max-height: 400px;
    margin-bottom: 5px;
    border: 1px solid white;
}