#login {
    background-color: rgba(54, 55, 136, .6);
    height: 300px;
    width: 320px;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 160px);
    
    padding: 30px 20px;
    border-radius: 2px;
    border-top-left-radius: 30px;
}

.modalLogin strong {
    font-size: 20px;
    text-align: center;
    display: block;
    color: #fff;
}

.modalLogin form {
    margin-top: 30px;
}

.modalLogin form .input-block + .input-block {
    margin-top: 20px;
}

.modalLogin form .input-block label {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.modalLogin form .input-block input {
    background-color:rgba(54, 55, 136, 0);
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: #fff;
    border: 0;
    border-bottom: 1px solid #eee;
}

.modalLogin form button[type=submit] {
    width: 100%;
    border: 0;
    margin-top: 30px;
    background: #fff;
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.modalLogin form button[type=submit]:hover {
    background-color: cornflowerblue;
}