.cad_labels{
    width: 320px;
    background: #FFF;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 30px 20px;
}

.cad_labels strong{
    font-size: 20px;
    text-align: center;
    display: block;
    color: #333;
}

.cad_labels form {
    margin-top:0;
}

.cad_labels form .input-block + .input-block{
    margin-top: 0px;
}

.cad_labels form .input-group {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.cad_labels form .input-group .input-block {
    margin-top: 0px;
}

.cad_labels form .input-block label{
    color: #ACACAC;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.cad_labels form .input-block input {
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: #666;
    border: 0;
    border-bottom: 1px solid #eee;
}

.cad_labels form button[type=submit]{
    width: 40%;
    border: 0;
    margin-top: 30px;
    margin-right: 10%;
    background: rgb(88, 88, 204);
    border-radius: 2px;
    padding:  15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    transition: background 0.5s;

}

.cad_labels form button[type=btn]{
    border: 0;
    margin-top: -10px;
    margin-left: 90%;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    padding:  10px 10px;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    transition: background 0.5s;
}

form button[type=submit]:hover{
    background: green;
}