.layout {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a {
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3 ease 0s;
}

.nav_links li a:hover {
    font-size: 20px;
    color: cornflowerblue;
}